
.regeln-container {
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    max-width: 70%; /* Setze die gewünschte maximale Breite des Inhalts */
    margin: 20px auto; /* Zentriere den Container horizontal */
}   

.regeln-container h1, p {
    color: white;
}