/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

.logo-text{
    text-decoration: none;
}

.menu-text {
    text-decoration: none;
    color: white;
}

.menu-text:hover {
    color: rgb(211, 117, 255); /* Purple color */
}

