:root{
  --background-color: #080809;
  --darker-background-color: #15181b;
	--background-game: #121217;
  --accent-color: #00bcf8;
	--positiv-color: #04e17e;
	--negativ-color: #e10404;
	--get-color: #56e558;
	--send-color: #5ee3fa;
  --text-color: #FFFFFF;
  --navbar-height: 80px;
  --font-size-xl: 32px;
  --font-size-l: 24px;
  --font-size-m: 18px;
  --font-size-s: 12px;
  --font-style: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--button-shadow-inside: 0 4px 4px rgba(0, 0, 0, .25), inset 0 4px 4px rgba(52, 11, 11, 0.25);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
